// CSS3 Colors variables
// ----------------------------------

:root {
    //--- Color theme
    --momoji-peach: #FFB340;
    --momoji-pink: #FC7F96;
    --momoji-blue: #8BB2BE;
    --momoji-green: #8BBEAD;
    --link-color: #0a3a75; // Passe le test AA et AAA (gros texte) sur tous les fonds
    --pattern-bg: #D7ECE7;
  
  
    //--- Utilities
    --white: #fff;
    --text-color: hsla(200,0%,0%,.7);
    --background-global: #f8f9fb; 
    --link-color: #0a3a75; // Passe le test AA et AAA (gros texte) sur tous les fonds
    --button-color: #3763fb; 
  }
  